*, html{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	position: relative;
	margin: 0 25px;
	font-family: Arial, sans-serif;
}

h1{font-size: 2em;}
h2{font-size: 1.7em;}
h3{font-size: .9em;}
p{font-size: .8em}
ul{list-style: none;}

button{
	font-size: .8em;
	padding: 8px 14px;
	border-radius: 6px;
	border: 2px solid transparent;
	color: white;
}

.container{
	max-width: 1400px;
	margin: auto;
}

header{
	background-color: rgb(80,80,80);
}

header .logo{
	margin: 0;
	padding: 25px;
	width: 150px;
	float: left;
}

header p{
	color: white;
	font-size: 1em;
	font-weight: bold;
	float: left;
	display: inline-block;
	vertical-align: middle;
	padding: 9px 9px;
}

header .container{
	display: flex;
	align-items: center;
	flex-direction: column;
}

header nav{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 25px;
}

header a{
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	color: white;
}

header a:hover {
	color: antiquewhite;
}

#hero{
	color: white;
	display: flex;
	align-items: right;
	justify-content: center;
	text-align: right;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
	url(imagenes/ba1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#hero h1{
	margin-right: 20px;
}
#hero p{
	margin-left:  50px;
	margin-right: 20px;
}

#hero button{
	display: inline-block;
	margin: 0 10px;
	width: 150px;
	height: 40px ;
	font-size: 15px;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

#hero .Tickets{
	background-color: rgb(80, 190, 60);

}
#hero .Tickets:hover{
	animation: bounce 1s;
}

#hero .Orador{
	background-color: transparent;
	background-repeat: no-repeat;
	border: 1px solid white;
}

#hero .Orador:hover{
	animation: bounce 1s;
}

#oradores .container{
	text-align: center;
	padding-top: 10px;
	margin-bottom: -5px;
}

.g-4{
	display: none;
}

.oradores img{
	display: none;
}

#oradores h2{
	font-weight: bold;
}

#oradores p{
	display: none;
}

#oradores .card-orador{
	background-position: center center;
	background-size: cover;
	padding: 200px;
	margin: 15px;
	color: white;
	text-align: center;
}

.card-orador:first-child{
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
	url(imagenes/steve.jpg);

}

.card-orador:nth-child(2){
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
	url(imagenes/bill.jpg);
	align-items: center top;
}

.card-orador:nth-child(3){
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
	url(imagenes/ada.jpeg);
}



.js-button{
	color: rgb(50, 51, 48);
	background-color: rgb(240, 219, 79);
	text-align: center;
	padding: 0;
	font-weight: bold;
}

.r-button{
	color: white;
	background-color: rgb(36, 159, 159);
	padding: 0;
	font-weight: bold;
}

.neg-button{
	color: white;
	background-color: grey;
	padding: 0;
	font-weight: bold;
}

.startup-button{
	color: white;
	background-color: red;
	padding: 0;
	font-weight: bold;
}

#more-info{
	text-align: center;
	align-self: center;
}


#more-info .card-body{
	color: white;
}

#more-info .col-md-8{
		background-color: rgb(40, 40, 40);
}

#more-info .mb-3{
	margin: 0 15px;
}

.btn-outline-primary{
	color: white;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 1px solid white;
}

.btn-outline-primary:hover{
	animation: bounce 1s;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 1px solid white;
}

#contacto{
	margin-right: 15px;
}

#contacto .container{
	text-align: center;
	padding-bottom: -5px;
	
}

#contacto h2{
	font-weight: bold;
}

u.punteado{
	text-decoration: underline dotted;
}

.form-control{
	margin: 7px;
}

.btn-primary{
	background-color: #8DB600;
	margin-bottom: 15px;
}

.gap-2{
	margin-left: 5px;
}

.gap-2 p{
	margin-left: 3px;
}

footer{
	background-color: rgb(27,64,77);
	color: white;
	margin-top: 10px;
	text-align: center;
}

footer a{
	padding: 10px 10px 10px 10px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: white;
}

footer a:hover{
	color: antiquewhite;
}

@media only screen and (min-width: 750px){
	header .container{
		flex-direction: row;
		justify-content: space-between;
	}

	body{
	position: relative;
	margin: 0;
	font-family: Arial, sans-serif;
}

	header nav{
		padding-bottom: 0;
		padding-top: 20px;
	}

	header .container p{
		flex-direction: row;
		justify-content: space-between;
		margin-top: 30px;
	}

	header a{
	
	}

	header a:last-child{
		color: rgb(80, 190, 60);
	}

	header .logopart{
		align-items: left;
		padding-top: 10px;
	}

	header .container{
}

#hero h1, .botonera, .texto{
	margin-right: 2%;
}

#hero .texto{
		margin-left: 50%;
}

#hero p{
	margin-right: 0px;
}

#hero .Tickets{
	margin-right: 0px;
}

.g-4{
	display: inline-flex;
	margin: 0 300px;
}

@media only screen and (max-width: 1246px){

.g-4{
	display: none;}


}	

#oradores .oradores{
	display: none;
	justify-content: center;
}

#oradores p{
	display: block;
	color: black;

}

.oradores img{
	display: inline;
}

.card-orador:first-child{
	background-image: none;

}

.card-orador:nth-child(2){
	background-image: none;
	align-items: center top;
}

.card-orador:nth-child(3){
	background-image: none;
}

.card-orador{
	padding: 0px !important;
	background-position: center center;
	background-size: cover;
	margin: 15px;
	text-align: left !important;
}

.imgcarta{
	width: 500px;
}



#contacto{
	padding: 0 450px;}

@media only screen and (max-width: 1266px){
	#contacto{
	padding: 0;
}

}

#more-info{

	margin: 15px 0;
	display: flex;
}

.g-0{
	width: 100vw;
	display: flex;
}

.img-fluid{
	width: 50vw;
}

.col-md-4{
	width: 50vw;
}

.mb-3{
	display: inline-block;
}

.col-md-8{
	float: right;
	width: 50vw;

}

#more-info .card-body{
	padding: 200px 0;
	text-align: left;
}

#more-info .card-text, .card-title{
	padding-right: 50px;
	padding-left: 10px;
}

#more-info button{
	margin-left: 10px  ;
}

}
